body {
  background-color: #EDE6DB;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #827397;
  border-width: 5px;
  width: 15%;
}

h1 {
  color: #4D4C7D;
}

h3 {
  color: #1A3C40;
}

#dp {
  height: 200px;
  border-radius: 100px;
}

#comdots {
  height: 20px;
  border-radius: 10px;
}

